// Typography 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
$font1: 'Ubuntu Mono', monospace;
$font2: 'Open Sans', sans-serif;

// colors 
$bg: #0C090D;
$font-primary: #EDF2F4;
$font-secondary: #A3CEF1;
// Mixin & vars 
